*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body{
  background: #F5F4F0;
}

#container{
  padding: 88px 80px 65px;
}

#titlepage{
  margin-bottom: 40px;
}

#titlepage h3{
  margin-bottom: 8px;
}

.line{
  margin-top: 40px;
  margin-bottom: 64px;
}


#imgdescription img{
  margin-bottom: 24px;
}

#introduction{
  margin-bottom: 64px;
}

#introduction h3{
  margin-bottom: 2px;
}

h1{
  margin-bottom: 8px;
}

h2{
  margin-bottom: 4px;
}
.card{
  margin-top: 64px;
}

.card + .card{
  margin-top: 48px;
}

.card img{
  margin-bottom: 20px;

}

#content .line {
  margin-bottom: 40px;
}